.العنوان{
    /* دا بيخلى اللون النص ارؤق */
    color: blue;
    /* دا بيخلى الكلام فى النص */
    text-align: center;
}

.تنسيق-الصور {
    /* دا بيخلى الصور جمب بعضها */
    display: flex;
    /* دا لما السطر بيخلص بيدأ من سطر جديد */
    flex-wrap: wrap;
    /* بيوسطن المحتوى يالعرض */
    justify-content: center;
    /* دا بيخلى المسافة ما بين كل صورة والتانية 15 بيكسل */
    gap: 15px;
    /* دا بينزل 20 بكسل من ويبيتدى وبيحط الصور */
    margin-top: 20px;
}

.تنسيق-الصور img{
    /* عرض الصور بالنسبة المئوية */
    width: 30%; 
    /* طول الصور بالبكسلات*/
    height: 290px;
    /* دا بيخلى الصور تتظبط جوه المقاس من غير ما تتمط */
    object-fit: cover;
}
.Shoubra-faculty-of-engineering {
    /* دا بيخلى لون النص احمر */
    color: red;
}