/* تنسيق العناصر التي تحمل كلاس ( title ) */
.title {
    
    color: red; /* تغيير لون النص إلى الأحمر */
    
    /* تحديد نوع خط المتصفح سيحاول تشغيل الخط الأول، وإذا لم يجده ينتقل للخط للتالي وهكذا */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* تنسيق العناصر التي تحمل كلاس ( end ) */
.end {
    
    /* تحديد درجة معينة من اللون الأحمر باستخدام نظام الـ RGB (أحمر، أخضر، أزرق) */
    color: rgb(234, 22, 22);
}

/* تنسيق العنصر الذي يحمل كلاس uol */
.uol {
    
    /* تصغير حجم الخط ليكون 13 بكسل */
    font-size: 13px;
}

/* تنسيق الروابط الموجودة داخل عنصر يحمل كلاس ( uol ) */
.uol a {
    
    /* التحكم في الخط الموجود تحت اللينك (هنا تم تحديد لون الرمادي الغامق له) */
    text-decoration: darkgray;
    
    /* تغيير لون اللينك إلى درجة معينة من الأزرق */
    color: rgb(34, 34, 212);
}
