.العنوان{
    /* دا بيخلى اللون النص ارؤق */
    color: blue;
    /* دا بيخلى الكلام فى النص */
    text-align: center;
}

.تنسيق-الصور {
    /* بيخلى الصور تقبل امر الفليكس راب الى تحت */
    display: flex;
    /* دا لما السطر بيخلص بيدأ من سطر جديد */
    flex-wrap: wrap;
    /* بيوسطن المحتوى بالعرض */
    justify-content: center;
    /* دا بيخلى المسافة ما بين كل صورة والتانية 15 بيكسل */
    gap: 15px;
    /* دا بينزل 20 بكسل من سقف الصفحة ويبيتدى يحط الصور */
    margin-top: 20px;
}

.تنسيق-الصور img{
    /* ( كأنها 30 بكسل لكن بالنسبة المئوية) عرض الصور بالنسبة المئوية */
    width: 30%; 
    /* طول الصور بالبكسل*/
    height: 290px;
    /* دا بيخلى الصور تتظبط جوه المقاس الى انا حاطته ( الى هو 30% عرض و طول 290 بكسل ) من غير ما تتمط او تبوظ */
    object-fit: cover;
}
.Shoubra-faculty-of-engineering {
    /* دا بيخلى لون النص احمر */
    color: red;
}
