body { 
    margin: 0;
}

.container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 70vh;
        gap: 40px;
}
form{
        display: flex;
        flex-direction: column;
        gap: 10px;


}